.button {
    border: 1px solid transparent;
    padding-inline: 1rem;
    padding-block: .5rem;
    display: inline-block;
    font: var(--body1-medium);
    text-decoration: none;
    cursor: pointer;
    color: var(white);
    background: var(--black);
    border-radius: .25rem;
    outline: none;
    box-shadow: 1.5px 31px 92px rgba(1, 1, 1, 0.4), 0.088px 2.6px 7.5px rgba(0, 0, 0, 0.07);
}

.button:active {
    transform: scale(.9);
}

.button.is-primary:hover,
.button.is-primary:focus {
    background: white;
}

.button:hover,
.button:focus {
    background-color: aliceblue;
}

:root {
    font-size: 12px;
    --body-back: hsl(218%, 100%, 94%);
    --white: hsl(210%, 100%, 100%);
    --cyan: hsl(179, 63%, 42%);
    --cyan-light;
    hsl(179, 51%, 62%);
    --sky-blue: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
    --body1-regular: 400 0.87rem/1.25rem karla;
    --body-medium: 700 0.87rem/1.25rem karla;
    --title: 700 1.375rem/1.75rem karla;
    --subtitle: 700 1rem/1.75rem karla;
}

body {
    font: var(--body1-regular);
    margin: 0;
    color: var(black);
    background: var(--body-back);
    background-color: white;
}

.pricipal {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media screen and (min-width:425px) {
     :root {
        font-size: 20px;
    }
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.headerInfo {
    margin-block-start: 1.25rem;
    margin-inline-start: 1.5rem;
    margin-inline-end: 0.85rem;
    min-inline-size: 15rem;
    margin-block-end: 1.5rem;
}

.headerInfo p {
    font: var(--body1-regular);
    color: var(white);
    line-height: 1.8rem;
}

h1 {
    margin: 0;
    margin-block-end: 2rem;
}

.headSubtitle {
    color: black;
    margin-inline-end: 1.3rem;
}

@media screen and (min-width:1440px) {
    .headerInfo {
        margin-inline-start: 3rem;
        margin-inline-end: 2.85rem;
    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(34, 150, 196);
    min-block-size: 9rem;
}

infoContainer {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    margin-inline-start: 1.6rem;
    margin-inline-end: 3.75rem;
    min-inline-size: 15rem;
    margin-block-start: 2.25rem;
    margin-block-end: 1.5rem;
}

.infoTitle {
    margin: 0;
    color: var(gray);
}

.infoContainer p {
    font: var(--body1-regular);
    margin: 0;
    color: gray;
}

@media screen and (min-width:768px) {
    .infoContainer {
        gap: .75rem;
    }
}

@media screen and (min-width:1024px) {
    .infoContainer {
        gap: 1.5rem;
        margin-inline-start: 4rem;
        margin-block-start: 1.5rem;
    }
}

.page {
    display: block;
    block-size: 84%;
    inline-size: 60%;
    overflow: hidden;
    margin-block-start: 5%;
    border-radius: .3rem;
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
}

@media screen and (min-width:768px) {
    .page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header header" "subscription info";
        grid-template-rows: 1fr 1fr;
        block-size: 80vh;
        inline-size: 70%;
        overflow: hidden;
        border-radius: .25rem;
        box-shadow: rgba(99, 99, 99, 0.4) 0px 3px 9px 0px;
    }
}

.page .header {
    grid-area: header;
}

.page .subscription {
    grid-area: subscription;
}

.page .info {
    grid-area: info;
}

@media screen and (min-width:1020px) {
    .page {
        block-size: 80vh;
        inline-size: 75%;
    }
}

@media screen and (min-width:1440px) {
    .page {
        block-size: 70vh;
        inline-size: 60%;
    }
}

.subscription {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    background: var(--cyan);
    min-block-size: 9rem;
}

.subscriptionMonth {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    margin-inline-start: 1.5rem;
    margin-block-start: 1.35rem;
    min-inline-size: 12rem;
    margin-block-end: 1.7rem;
}

.subscriptionTitle {
    margin: 0;
    color: var(--white);
}

.subscriptionPrice {
    display: flex;
    gap: .5rem;
    align-items: center;
    white-space: nowrap;
    margin: 0;
}

.price {
    font: var(--title);
    color: var(--white);
}

.priceMonth {
    font: var(--body1-regular);
    color: rgba(0, 0, 0, 0.8)
}

.subscriptionMonth p {
    font: var(--body1-regular);
    color: var(--white);
    margin: 0;
    margin-block-end: .5rem;
}

@media screen and (min-width:768px) {
    .subscription {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .subscriptionMonth {
        display: flex;
        flex-direction: column;
        gap: .75rem;
        margin-inline-start: 1.5rem;
        margin-inline-end: 1.75rem;
        margin-block-start: 1.25rem;
        min-inline-size: 12rem;
        margin-block-end: 1.5rem;
    }
}

@media screen and (min-width:1024px) {
    .subscriptionMonth {
        gap: .75rem;
        margin-block-start: 1.75rem;
        margin-inline-start: 0;
        margin-inline-end: 1rem;
    }
}

@media screen and (min-width:1440px) {
    .subscriptionMonth {
        gap: 1.25rem;
        margin: 0;
        min-inline-size: 16rem;
    }
}